
.navbar {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: whitesmoke;

}

.title {
    font-family: 'Bai Jamjuree', sans-serif;
    color:#5d001e;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    padding: 5px 30px 5px 5px;
    font-size: 20px;
  }
  
.navlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0; 
  }
  
.navlink {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    color:#5D001e;
    padding: 14px;
    margin-right: 50px;
    transition: 0.5s;
    width: 100%;
    position: relative;
  }

.navlink:hover {
    font-size: 24px;
    color: #fa00d9;
  }

  .navlink::after {
    position: absolute;
    content: "";
    top: 80%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #750066;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  .navlink:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  