.footer {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    width: 100%;
  }

  .footer-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    color: #5D001e; 
  }

  .footer-list {
    margin: 0; 
    padding-bottom: 20px;
    text-align: center;
  }

  .footer-item {
      padding: 0 10px;
      display: inline-flex;
      flex: wrap;
      justify-content: center;
  }

  .footer-list li img{
      height: 50px;
      width: 50px;
  }

  /* RESPONSIVE RULES; */

  @media screen and (max-width: 1124px) {
    
    .footer-list {
     max-width: 600px;
     margin: auto auto;
    }
    .footer-item {
      padding: 10px 10px;
      display: inline-flex;
      flex: wrap;
      justify-content: center;
  }
  }

  @media screen and (max-width: 600px) {
    
    .footer-list {
     max-width: 300px;
     margin: auto auto;
    }
  }

  