.contact-description-container {
    margin: 60px 60px 30px 60px;
    color: #5d001e;
    font-family: 'Roboto', sans-serif;
  }

  .contact-description-container hr {
    border-top: 1px solid #9a1750; 
  }
  
  .contact-title {
        justify-self: start;
        margin-top: 120px;
        font-size: 26px;
        font-family: 'Bai Jamjuree', sans-serif;
        text-transform: uppercase;
    }

  .contact-description-text {
    line-height: 1.35;
    font-size: 18px;
    text-align: justify; 
  }

  .contact-body {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    justify-items: center;
}

  .contact-form-container {
    border: solid 1px black;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px 0px #000000cc;
    background-color: white;
    margin: 0 10px 10px 10px;
    font-family: 'Bai Jamjuree', sans-serif;
    min-width: 1000px;
}


/* RESPONSIVE RULES  */

@media screen and (max-width: 1205px) {
    .contact-description-container {
      margin: 60px 30px 20px 30px;
    }  
    .contact-form-container {
        padding: 20px;
        min-width: 800px;
    }
  }

  @media screen and (max-width: 870px) {
    .contact-form-container {
        padding: 20px;
        min-width: 0;
    }
  
}
