.contact-description-container {
    margin: 60px 60px 30px 60px;
    color: #5d001e;
    font-family: 'Roboto', sans-serif;
  }

  .contact-description-container hr {
    border-top: 1px solid #9a1750; 
  }
  
  .contact-title {
        justify-self: start;
        margin-top: 120px;
        font-size: 26px;
        font-family: 'Bai Jamjuree', sans-serif;
        text-transform: uppercase;
    }

  .contact-description-text {
    line-height: 1.35;
    font-size: 18px;
    text-align: justify; 
  }

  .contact-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    padding: 10px;
    align-items: center;  
    justify-content: center;
    align-content: center;
    margin: 0 40px 0 40px;
}

  .contact-form-container {
    border: solid 1px black;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px 0px #000000cc;
    background-color: white;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    /* min-width: 1000px; */
    /* width: 100%; */
}
.tweet-container {
  /* border: solid 1px black; */
  /* border-radius: 30px; */
  box-shadow: 0 5px 15px 0px #000000cc;
}


/* RESPONSIVE RULES  */

@media screen and (max-width: 1205px) {
  .contact-body {
    grid-template-columns: 70% 30%;
    grid-gap: 15px;
    margin: 0 30px 0 30px;
}
    .contact-description-container {
      margin: 60px 30px 20px 30px;
    }  
    .contact-form-container {
        padding: 20px;
    }
  }

  @media screen and (max-width: 870px) {
    .contact-body {
      grid-template-columns: 1fr;
      grid-gap: 15px;
      margin: 0 15px 0 15px;
  }
    .contact-form-container {
        padding: 20px;
    }
  
}
